<% provide(:title, "Home") %>

<div class="center jumbotron">
    <h3>Welcome to MovieDB</h3>
    <p><%= link_to "Sign up now!", signup_path, class: "btn btn-primary" %></p>
</div>

<%= react_component 'Movies', {movies: @movies} %>
