<%= form_for @category do |f| %>					   
    <%= f.label :name %><span class="text-danger">*</span>
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>