
<% provide(:title, "Categories") %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="center">
        <h3>All Categories</h3>
          <hr>
     </div>                
  </div>
</div>

<div class="row">
<div class="col-md-12">
  <ul class="users">        
      <% Category.all.each do |category| %>
      <li> 
        <h4>
          <%= link_to  category.name, category %> 
          <% if logged_in? %>
          |
          <%= link_to "delete", category, method: :delete,
                                      data: { confirm: "Are you sure?" }, class: "btn-danger" %> |
          <%= link_to "Edit", edit_category_path(category), class: "btn-primary" %> |
          <% end %>
        </h4>
      </li>
      <% end %>             
  </ul>   

</div>
</div>
</div>

