<% provide(:title, "Categories") %>

<div class="container">
<!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h3><b><%= react_component 'Category', {category: @category} %></b></h3><hr>
        </div>
    </div>
    <!-- /.row -->
	 
<div class="row">
   <div class="col-md-12">	    
	   <div class="post_details">
			<ul class="list cat-list">  
			<%= react_component 'Movies', {movies: @movies} %>
			</ul>
			
			<% if (@movies.empty?) %> 
				<h4>Sorry, no movie found!</h4>  
			<% end %> 
			<br>
		</div>	
	</div>

	
</div>
</div>